
:root{
    --color-primary:#6c63ff;
    --color-success:#00bf8e;
    --color-danger:#f75842;
    --color-danger1:red;
    --color-white:#fff;
    --color-light:#ccc;
    --color-black:#000;
    --color-bg:#1f2641;
    --color-bg1:#2e3267;
    --color-bg2:#424890;
    --color-bg3 :#007bff;
    --color-bg4:#0056b3;
    --color-btn1:#007bff;
    --color-btn2:#0056b3;
   
    
    --color-animation:cyan;

    --container-width-lg:88%;
    --container-width-md:90%;
    --container-width-sm:92%;
    --container-width-vsm:94%;

    --transition: all 400ms ease;
}


body{
    background-image: url('../images/bac4.webp'); /* Path to your image */
    background-size: cover; /* Ensures the image covers the entire viewport */
    background-position: center center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents repeating the background */
    background-attachment: fixed; /* Keeps the background fixed when scrolling */
    background-color: var(--color-white); /* Fallback background color if image fails to load */

}
