:root{
    --color-primary:#6c63ff;
    --color-success:#00bf8e;
    --color-danger:#f75842;
    --color-danger1:red;
    --color-white:#fff;
    --color-light:#ccc;
    --color-black:#000;
    --color-bg:#1f2641;
    --color-bg1:#2e3267;
    --color-bg2:#424890;
    --color-bg3 :#007bff;
    --color-bg4:#0056b3;
    --color-btn1:#007bff;
    --color-btn2:#0056b3;
   
    
    --color-animation:cyan;

    --container-width-lg:88%;
    --container-width-md:90%;
    --container-width-sm:92%;
    --container-width-vsm:94%;

    --transition: all 400ms ease;
}

/*  view members */
body{
    background-image: url('../images/bac7.webp'); /* Path to your image */
    background-size: cover; /* Ensures the image covers the entire viewport */
    background-position: center center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents repeating the background */
    background-attachment: fixed; /* Keeps the background fixed when scrolling */
    background-color: #f3f3f3; /* Fallback background color if image fails to load */

}

a{
    color:var(--color-danger);
}
/* SEARCH BUTTON  */

.search-container{
    position: relative;
    top: 0;
    width:50%;
    margin: 0.5rem auto;
    letter-spacing: 2px;
    margin-top: 5rem;
}


.search-container input{ 
    height:2.2rem;
    font-size: 1.2rem;
    background-color: var(--color-bg);
    
}


.payment-container {
    width: 80%;
    margin: 10px auto;
    color:var(--color-white) ;
    background-color:var(--color-bg1) ;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-transform: capitalize;
}

h2 {
    text-align: center;
    margin-bottom: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid var(--color-light);
}

th, td {
    padding: 12px;
    text-align: center;
}

th {
    background-color: #333;
    color: var(--color-white);
}

tr:nth-child(even) {
    color: #f2f2f2;
    background-color: var(--color-bg);

}
